# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### *Our goals today are to be able to*: <br/>

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [4]:
!pwd
!ls -al ./data

/Users/josephmchugh/code/dc-ds-021720/mod-1/day-5-most-pandas
total 40
drwxr-xr-x  5 josephmchugh  staff    160 Feb 24 11:08 .
drwxr-xr-x  6 josephmchugh  staff    192 Feb 24 11:25 ..
-rw-r--r--  1 josephmchugh  staff     95 Feb 24 11:08 ds_chars.csv
-rwxr-xr-x  1 josephmchugh  staff  11328 Feb 24 11:08 heart.csv
-rw-r--r--  1 josephmchugh  staff    130 Feb 24 11:08 states.csv

In [5]:
import pandas as pd
uci = pd.read_csv('data/heart.csv')

In [6]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [7]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [8]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [10]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [11]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [12]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [28]:
list(uci.isna().sum())
#no null values!

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [13]:
uci.ca.mean()

0.7293729372937293

#### The Axis Variable

In [35]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

Exercise: What are the different values for restecg?

In [58]:
import numpy as np
np.sort(uci['age'].unique())

array([29, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 74, 76, 77])

In [50]:
uci['restecg'].value_counts()

array([152, 147,   4])

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [59]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

In [67]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115746 entries, 0 to 115745
Data columns (total 12 columns):
Animal ID           115746 non-null object
Name                79484 non-null object
DateTime            115746 non-null object
MonthYear           115746 non-null object
Date of Birth       115746 non-null object
Outcome Type        115739 non-null object
Outcome Subtype     52306 non-null object
Animal Type         115746 non-null object
Sex upon Outcome    115743 non-null object
Age upon Outcome    115716 non-null object
Breed               115746 non-null object
Color               115746 non-null object
dtypes: object(12)
memory usage: 10.6+ MB

In [70]:
animal_outcomes.Breed.value_counts()

Domestic Shorthair Mix                 30669
Pit Bull Mix                            8246
Labrador Retriever Mix                  6560
Chihuahua Shorthair Mix                 6136
Domestic Shorthair                      4843
                                       ...
Domestic Shorthair/Manx                    1
Catahoula/Akita                            1
Yorkshire Terrier/Yorkshire Terrier        1
Finnish Spitz/Dachshund                    1
Whippet/Catahoula                          1
Name: Breed, Length: 2549, dtype: int64

In [73]:
animal_outcomes['Outcome Type']

0               Rto-Adopt
1                Adoption
2                Adoption
3                Transfer
4                Adoption
               ...
115741         Euthanasia
115742    Return to Owner
115743           Adoption
115744    Return to Owner
115745           Transfer
Name: Outcome Type, Length: 115746, dtype: object

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [101]:
def successor(x):
    try:
        return x + 1
    except TypeError as e: 
        return x + 'y'

In [102]:
def repressor(x):
    return x - 1

In [103]:
animal_outcomes.applymap(successor)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011y,Chunky,05/08/2019 06:20:00 PMy,05/08/2019 06:20:00 PMy,05/02/2017y,Rto-Adopty,NaN,Caty,Neutered Maley,2 yearsy,Domestic Shorthair Mixy,Brown Tabby/Whitey
1,A776359y,Gizmoy,07/18/2018 04:02:00 PMy,07/18/2018 04:02:00 PMy,07/12/2017y,Adoptiony,NaN,Dogy,Neutered Maley,1 yeary,Chihuahua Shorthair Mixy,White/Browny
2,A720371y,Moosey,02/13/2016 05:59:00 PMy,02/13/2016 05:59:00 PMy,10/08/2015y,Adoptiony,NaN,Dogy,Neutered Maley,4 monthsy,Anatol Shepherd/Labrador Retrievery,Buffy
3,A674754y,NaN,03/18/2014 11:47:00 AMy,03/18/2014 11:47:00 AMy,03/12/2014y,Transfery,Partnery,Caty,Intact Maley,6 daysy,Domestic Shorthair Mixy,Orange Tabbyy
4,A689724y,*Donatelloy,10/18/2014 06:52:00 PMy,10/18/2014 06:52:00 PMy,08/01/2014y,Adoptiony,NaN,Caty,Neutered Maley,2 monthsy,Domestic Shorthair Mixy,Blacky
...,...,...,...,...,...,...,...,...,...,...,...,...
115741,A814049y,NaN,02/23/2020 06:26:00 PMy,02/23/2020 06:26:00 PMy,02/23/2018y,Euthanasiay,Rabies Risky,Othery,Unknowny,NaN,Baty,Black/Browny
115742,A797767y,Canelloy,02/23/2020 07:10:00 PMy,02/23/2020 07:10:00 PMy,06/17/2018y,Return to Ownery,NaN,Dogy,Neutered Maley,1 yeary,Labrador Retriever/Plott Houndy,Brown/Blacky
115743,A813718y,Keanuy,02/23/2020 06:08:00 PMy,02/23/2020 06:08:00 PMy,06/16/2019y,Adoptiony,NaN,Caty,Neutered Maley,8 monthsy,Domestic Shorthairy,White/Orange Tabbyy
115744,A798419y,Yogiy,02/23/2020 07:10:00 PMy,02/23/2020 07:10:00 PMy,09/25/2018y,Return to Ownery,NaN,Dogy,Intact Maley,1 yeary,Labrador Retrievery,Black/Whitey
115745,A813920y,NaN,02/21/2020 05:27:00 PMy,02/21/2020 05:27:00 PMy,10/20/2019y,Transfery,Partnery,Dogy,Intact Maley,4 monthsy,Chihuahua Shorthair Mixy,Tan/Whitey

In [95]:
uci.applymap(successor).head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2
5,58,2,1,141,193,1,2,149,1,1.4,2,1,2,2
6,57,1,2,141,295,1,1,154,1,2.3,2,1,3,2
7,45,2,2,121,264,1,2,174,1,1.0,3,1,4,2
8,53,2,3,173,200,2,2,163,1,1.5,3,1,4,2
9,58,2,3,151,169,1,2,175,1,2.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [96]:
uci['sex'].map(successor).head(10)

0    2
1    2
2    1
3    2
4    1
5    2
6    1
7    2
8    2
9    2
Name: sex, dtype: int64

In [91]:
uci['age'].map(successor).head(10)

0    64
1    38
2    42
3    57
4    58
5    58
6    57
7    45
8    53
9    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [ ]:
uci['oldpeak'].head()

In [106]:
uci['oldpeak'].map(lambda x: round(x)).head()

0    2
1    4
2    1
3    1
4    1
Name: oldpeak, dtype: int64

In [ ]:
uci['oldpeak'].map(lambda x: round(x))[:4]

Exercise: Use an anonymous function to turn the entries in age to strings

In [112]:
uci['age'].map(lambda x: str(x))

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: object

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [ ]:
# Your code here

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values='sex', columns='target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on='age',
          lsuffix='_A',
          rsuffix='_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)

In [ ]:
states = pd.read_csv('data/states.csv', index_col=0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here