# Using T-tests for hypothesis testing for the means

In [70]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib  inline

In [71]:

df = pd.read_csv('data/WA_Fn-UseC_-Telco-Customer-Churn.csv')

[Link to the dataset](https://www.kaggle.com/blastchar/telco-customer-churn)

In [72]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

__Your Turn__

1. Find how many different values are there in the PaymentMethod column.

In [75]:
df['PaymentMethod'].value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

__Your Turn__

1. Select one of the categories above in PaymentMethod and we will investigate whether this data is statistically significantly different from the national data or not.

2. Suppose we know that nationwide the average monthly average spendings for the service is $70 but we don't know the standard deviation for this data. Construct a hypothesis testing for the case, the certain PaymentMethod is different than the national data. 

3. In our case we will focus on Payment Method == 'Mailed check' but you can work with others too.

$H_{a}$: Customers who preferred Mailed Check payment method have a lower average monthly payment than national average. 

$\mu_{BT} < \mu_{Nat}$

$H_{0}$: There is no difference or Mailed Check method avg is higher than the national avg.

$\alpha$: We can set 0.05

__Your Turn__

Define a variable named 'mailed_check'.

This variable should contain all the cases with paymentmethod == 'Mailed check'

In [82]:
mailed_check = df.loc[(df['PaymentMethod'] == 'Mailed check')].MonthlyCharges

In [83]:
mailed_check.mean()

43.917059553349915

In [85]:
# %load -r 7-9 supplement.py
mailed_checks = df[df.PaymentMethod == "Mailed check"].MonthlyCharges
import scipy.stats as stats
stats.ttest_1samp(mailed_checks, popmean= 70)

Ttest_1sampResult(statistic=-39.79616513656546, pvalue=8.78311106869432e-242)

In [93]:
import numpy as np

In [94]:
mu = 70

x_bar = mailed_check.mean()

s = mailed_check.std(ddof = 1)

n  = len(mailed_check)

In [99]:
standard_error = (x_bar - mu)/(s/np.sqrt(n))

standard_error

-39.796165136565406

In [102]:
t_dist = stats.t(df = n-1, loc = 0)

In [105]:
t_dist.cdf(standard_error)

4.391555534352155e-242

__Your Turn__

1. From the data set 'df' get the rows with SeniorCitizen ==1 and keep them in a variable called seniors

2. Keep other records in a variable called 'others'

3. Check how many observations do we have in each sample

In [42]:
# %load -r 1-5 supplement.py

__Your Turn__

1. Now we would like to compare the MonthlyCharges for Seniors and others. 

I hypothesize that seniors should have lower Monthlycharges average than others. 

2. Write a hypothesis test that checks this claim.

$H_{a}:$ average MonthlyCharges for Senior customers is different than the average of MonthlyCharges for non-senior customers.

$H_{0}:$ The avg monthly charges for 'senior' customers should be equal to the average 'other' customer mothly charges.

$\alpha:$ 0.05

Now we will test our results by using two sample t_test.

In [107]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [110]:
seniors = df[df.SeniorCitizen == 1].MonthlyCharges

others  = df[df.SeniorCitizen == 0].MonthlyCharges

In [111]:
seniors.shape

(1142,)

In [112]:
others.shape

(5901,)

In [113]:
others.mean()

61.84744111167598

In [115]:
others.head()

0    29.85
1    56.95
2    53.85
3    42.30
4    70.70
Name: MonthlyCharges, dtype: float64

In [114]:
seniors.mean()

79.82035901926453

In [116]:
seniors.head()

20    39.65
30    96.35
31    95.50
34    45.25
50    90.25
Name: MonthlyCharges, dtype: float64

In [120]:
# %load -r 11 supplement.py
stats.ttest_ind(seniors,others, equal_var= False)

Ttest_indResult(statistic=22.288279118400933, pvalue=3.826212668910673e-98)

## Challenge 

1. Can you find a way to understand whether there is a relation between seniority and PaymentMethod?

2. Hint: This test will be a different than the test we used so far. Notice that comparing averages doesn't make a lot of sense in this case.

In [69]:
import scipy.stats as stats

In [ ]:
stats.chi2_contingency()

In [122]:
df.PaymentMethod

0                Electronic check
1                    Mailed check
2                    Mailed check
3       Bank transfer (automatic)
4                Electronic check
5                Electronic check
6         Credit card (automatic)
7                    Mailed check
8                Electronic check
9       Bank transfer (automatic)
10                   Mailed check
11        Credit card (automatic)
12        Credit card (automatic)
13      Bank transfer (automatic)
14               Electronic check
15        Credit card (automatic)
16                   Mailed check
17      Bank transfer (automatic)
18        Credit card (automatic)
19               Electronic check
20               Electronic check
21      Bank transfer (automatic)
22                   Mailed check
23        Credit card (automatic)
24        Credit card (automatic)
25      Bank transfer (automatic)
26               Electronic check
27               Electronic check
28        Credit card (automatic)
29                   Mailed check
                  ...
7013    Bank transfer (automatic)
7014             Electronic check
7015      Credit card (automatic)
7016             Electronic check
7017    Bank transfer (automatic)
7018                 Mailed check
7019                 Mailed check
7020             Electronic check
7021             Electronic check
7022             Electronic check
7023             Electronic check
7024      Credit card (automatic)
7025    Bank transfer (automatic)
7026    Bank transfer (automatic)
7027                 Mailed check
7028    Bank transfer (automatic)
7029             Electronic check
7030                 Mailed check
7031      Credit card (automatic)
7032             Electronic check
7033      Credit card (automatic)
7034      Credit card (automatic)
7035    Bank transfer (automatic)
7036             Electronic check
7037    Bank transfer (automatic)
7038                 Mailed check
7039      Credit card (automatic)
7040             Electronic check
7041                 Mailed check
7042    Bank transfer (automatic)
Name: PaymentMethod, Length: 7043, dtype: object